
@font-face {
  font-family: 'Aquiline';
  src: url('./fonts/AquilineTwo.ttf') format('truetype');
}


body {
    margin: 10;
    font-family: 'Aquiline', sans-serif;
    background-color: #ebd5b3;

    
  }

.hbd-jhnvi{
    
}
